.container1 {
    display: flex;
    border: 1px solid;
    margin: 100px;
    padding: 100px;
}
.container2 {
    display: flex;
    border: 1px solid;
    padding: 100px;
}
.container3 {
    display: flex;
    border: 1px solid;
    padding: 100px;
    width: 1000%;
}

.container4{
    width: 100px;
    height: 100px;
    background-color: #348a02 ;
    margin: 10px;
}