* {
    margin: 0px;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}



.container1,
.container2,
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    height: 80%;
    width: 80%;
    gap: 3vw;
}

.container4 {

    height: 80px;
    width: 80px;
    background-color: #348a02;

}

.x {
    flex-direction: row;
}

.y {
    flex-direction: column;
}